body {
    background: #121920;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

input{
    color: #6AAAC9;
    font-weight: bold;
    background: rgb(42, 66, 78);
    border-color: #6AAAC9;
    font-size: 20px;
}

span, div {
    color: #6AAAC9;
    font-weight: bold;
}

button {
    color: #6AAAC9;
    background: rgb(42, 66, 78);
    font-weight: bold;
    border: 0;
    font-size: 30px;
}

select{
    color: #6AAAC9;
    background: rgb(42, 66, 78);
    border: 0;
    font-size: 20px;
    font-weight: bold;
}